@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #FF7582;
}

li, a, button {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #ecf0f1;
	text-decoration: none;
}


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}

.logo {
	cursor: pointer;
	
}

.nav__links {
	list-style: none;
}


.nav__links li {
	display: inline-block;
	padding: 0 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
	color: #0088a9;
}

button {
	padding: 9px 25px;
	background-color: rgba(2,20,31,1.00);
	border:none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background-color: rgba(2,20,31,0.5);
}

label {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	cursor: pointer;
	display:flex;
	justify-content: center;
	align-items: center;
}

input {
	position: absolute;
	opacity: 0;
}

.st-img {
	margin: 150px;
	width: 70%;
	font-size: 20px;
}
img {
	max-width: 320px;
	float: right;
	border: 3px solid white;
	border-radius: 10px;
	margin-left: 15px;
}

.text {
	color: #355C7D;
}
.text h2 {
	font-size: 42px;
}
.text p {
	font-size: 16px;
}	